*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body{
	height: 100%;
	background-color: #B1BEA3;
}


.container{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

header{
	background-color: #EFE29F;
	padding: 20px 4% 30px 4%;
}

.logo-1{
	float: left;
	margin-left: 10%;
	background-image: url("../images/logo1.png");
	height: 60px;
	width: 160px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}

.logo-2{
	float: right;
	margin-right: 10%;
	background-image: url("../images/logo2.png");
	height: 60px;
	width: 140px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}

.cover-form{
	width: 100%;
	padding: 0;	
}

.bg{
	height: 500px;
	background-position: center;
	background-image: url("../images/piscina.jpg");
	background-size: cover;
}

.form-container{
	float: right;
	width: 400px;
	margin-right: 40px;
	height: 110%;
	position: relative;
	z-index: 2;
	top: -5%;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	background-color: white;
}

.form-container h2{
	font-weight: normal;
	padding: 20px 15px;
	color: white;
	font-size: 22px;
	background-color: #834959;
	text-align: center;
}

.form-container form{
	margin-top: 8px;
	padding: 15px;
}

.form-container p{
	font-size: 14px;
	color: #525252;
}

.form-wrapper:not(:first-child){
	margin-top: 40px;
}

.form-wrapper:last-child{
	margin-top: 20px;
}

.form-container form input[type=text]{
	width: 100%;
	border: 1px solid #ccc;
	/*Melhor maneira de definir a altura dos campos de formulário*/
	/* Compatível com a maioria dos navegadores */
	height: 45px;
	line-height: 45px;
	/*  */
	padding-left: 10px;
}

.form-container form input[type=submit]{
	background-color: #23313F;
	text-transform: uppercase;
	color: white;
	width: 100%;
	font-size: 20px;
	height: 40px;
	cursor: pointer;
	border: 0;
}

section.chamada{
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 1;
	top: -50px;
	display: inline-block;
}

section.chamada .container{
	padding: 60px 0 0 0;
	background-color: #61A49B;
}

section.chamada h2{
	width: 96%;
	max-width: 700px;
	display: inline-block;
	color: white;
	font-size: 28px;
	font-weight: normal;
}

section.chamada p{
	width: 96%;
	padding-top: 7px;
	max-width: 600px;
	display: inline-block;
	color: white;
	font-size: 16px;
	font-weight: normal;
}

.arrow{
	position: relative;
	top: 30px;
	left: 50%;
	margin-left: -32px;
	width: 64px;
	height: 64px;
	background-image:url('../images/arrow.png');
	background-size: 100% 100%;
}

section.mosaico{
	position: relative;
	top: -50px;
	width: 100%;
	height: auto;
	
}

.flex-mosaico{
	display: flex;
	background-color: #EFE29F;
}

.mosaico-img{
	background-position: center;
	background-size: cover;
	width: 60%;
	height: 300px;
}

.mosaico-text{
	width: 40%;
	padding: 50px;
	text-align: justify;
}

.mosaico-text p{
	font-size: 18px;
	color: grey;
	font-family: 'Bad Script', cursive;
	font-weight: normal;

}

footer{
	/*background-color: #61A49B;*/
	position: relative;
	top: -50px;
	text-align: center;
	padding: 30px 0;
}
footer.p{
	margin-top: 8px;
	font-size: 16px;
}

@media screen and (max-width: 768px){

	header{
		text-align: center;
	}

	.logo-1, .logo-2{
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		display: inline-block;
		float: none;
	}

	.bg{
		text-align: center;
	}

	.form-container{
		height: auto;
		width: 96%;
		max-width: 400px;
		display: inline-block;
	}

	.flex-mosaico{
		display: inline-block;
		width: 100%;
	}

	.mosaico-img{
		width: 100%;
		height: 300px;
		order: 1;
	}

	.mosaico-text{
		order: 2;
		width: 100%;
		text-align: justify;
	}
}